*{
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif !important;
}
/* .container {
    margin: 0 auto;
} */
 /* .f-cairo{
    font-family: "Cairo", sans-serif !important;
 } */
 .low-shadow{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.08);
 }
/* .row{
    display: flex;
    align-items: center;
    justify-content: center;
} */

